* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

body font {
    font-family: "Outfit", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 90px;
    min-width: 90px;
    transition: all 0.25s ease-in-out;
    height: 100vh;
    background: #343a40;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-link {
    color: rgba(255, 255, 255, .5);
}

.sidebar .nav-link.active {
    color: #fff;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}